footer.footer
    .footer__logo-box
        img(src='/images/logo-white.svg', alt='Touradesert Logo' class='footer__logo')
    
    .footer__side
        ul.footer__nav
            li: a(href='#' class='footer__link') About us
            li: a(href='#' class='footer__link') Download apps
            li: a(href='#' class='footer__link') Become a guide
            li: a(href='#' class='footer__link') Careers
            li: a(href='#' class='footer__link') Contact Us
        
        p.footer__copyright &copy; 2020 by Tarik razine 