.container {
  display: grid;
  grid-template-rows: 10rem repeat(2, max-content);
  grid-template-columns:
    [full-start] minmax(4rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(4rem, 1fr) [full-end];

  //row-gap: 5rem;

  @include respond(tab-port) {
    grid-template-rows: 15rem;
  }
}
