/* Colors main */

// OLD COLORS
/* $color-primary-dark: #ff6347;
$color-primary-medium: #ff7f50;
$color-primary-light: #ffa07a; */

/* $color-primary-dark: #7a0177;
$color-primary-medium: #c51b8a;
$color-primary-light: #ee639a; */

$color-primary-dark: #f50062;
$color-primary-medium: #ff1f78;
$color-primary-light: #ff4791;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

// Rotate
$section-rotate: 9vw;
